/*General styling */
body {
    font-family: Arial, sans-serif;
    margin:20 px;
}
/* block example */
.block-menu a {
    display: block ;
    background-color: hwb(from color h w b);
    color: white ;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none ;
}
/*inline example*/
.inline-menu a {
    display: inline;
    background-color: aqua;
    color: white;
    padding: 5px ;
    margin: 5px ;
    text-decoration: none ;
}
/*inline-block example*/
.inline-block-menu a {
    display: inline-block;
    background-color: brown;
    color: white ;
    height: 50 px;
    width : 120px;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
}
/*float example */
.float-menu a {
    float: right;
    background-color:bisque;
    color: white;
    padding: 10 px 15px;
    margin: 5px;
    text-decoration: none;
}
/* clear example */
.clear-example {
    .clear::checkmark 
    background-color:oklab(from color l a b);
    padding: 10px;
    margin-top: 20px; 
    border: 1px solid #ccc;
}
