/*body styling*/
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(240, 238, 234);
    text-align: center;
    margin: 20px;
}
/*heading styling */
h1 { 
    color:rgb(16, 18, 18);
    margin-bottom: 40px;
}
/* product box styling*/
.product-box {
    background-color: rgb(184, 170, 196);
    width: 300px;
    height: 430px;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid;
    border-radius: 8px;

}
.product-box img {
    width: 100%;
    height: auto;
    border-radius: 0cqi;

.product-box h2 { 
    color: black;
    font-size: 20px;
    margin-top: 10px;
}
.description{
    color:lch(from color l c h);
    font-size: 14px;
    margin: 10px;
}
.price {
    color :rgb(181, 149, 149);
    font-weight: bold;
    margin:0cqmin;

}
.button {
    background-color: rgb(76, 218, 218);
}
.button:hover{
    background-color: aquamarine;
}
/*product image stylish*/
.product-box img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
/* product title*/
.product-box h2 {
    color:rgb(181, 149, 149);
    font-size: 20px;
    margin-top: 10px;
}