#house{
  position: relative;
  width: 500px;
  height: 400px;
  background-color: black;
  border: 2px solid blue;
}
#roof{
  width:100%;
  height: 70px;
  border: 20px;
  background-color: blue;
  top: 0;
  position: absolute;
}
#chimney{
 width:20px;
  height: 60px;
  background-color: blue;
  top: -60px;
  z-index: -1;
  position: absolute;
  left: 40px;
  border: 20px;
}
#window-1{
 width:20px;
  height: 20px;
  border: 20px;
  background-color: blue;
  left: 100px;
  position: absolute;
  top: 100px;
}
#window-2{
  width:20px;
  height: 20px;
  border: 20px;
  background-color: blue;
  right: 10px;
  position: absolute;
  left: 5px;
  top: 100px;
}
#door{
  width:20px;
  height: 80px;
  border: 20px;
  background-color: blue;
  bottom: 0;
  position: absolute;
  left: 20px;
}
