.pricing-container{
  display: flex;
  flex-wrap: wrap;
}
.pricing-card{
  display: flex;
  flex-direction: column;
  flex: 0 0 200px;
  border: 2px  solid black;
justify-content: space-between;
}
  .basic-plan{
    order:0;
  }
  .pro-plan{
    order:1;
    flex-grow: 2;
  }
  .premium-plan{
    order:2;
  }