body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
}
.container {
    display: flex;
    justify-content: center;/* center the cards horizantally*/
    align-items: center;/*align them vertically*/
    flex-direction: row;/*aligns cards in a row */
    gap: 30px;/* space between cards */
    padding: 40px;
    margin: 20px;
    border: 2px solid rgb(20, 20, 19);
}
.card {
   background-color:hsl(325, 33%, 93%);
   width: 220px;
   text-align: center;
   border-radius: 10px;
   padding: 0cap;
   box-shadow: 0cqi;
   border-bottom: 0cqmax;
   border-width: 0cap;
   border: 0cqh;
   height: fit-content;
   margin: 2px;
}
.circle{
  background-color: rgb(217, 188, 204);
  color: rgb(240, 89, 189);
  font-weight: bold;
  font-size: 20px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin: 0 auto;
}

h3 {
    margin-bottom: 5px;
} 
p {
    margin: 5px 0;
    font-size: 14px;
}