body {
    font-family : Arial ,sans serif;
    background-color : #f4f4f9;
    margin : 20 px ;
    text-align: center
}
/*product card*/
.product-card {
    background - color: white ;
    width : 350 px;
    margin : auto;
    padding : 20px;
    border :2px solid#ccc;
    border - radius : 10 px ;
}
/*product image */
.product-img {
    width : 300px ;
    height : 300px ;
    border : 1px solid #ddd;
    margin-bottom: 13 px ;
}
/*title  & description */
.product-title {
    color: #2c3e50;
    font size : 24 px ;
    margin : 10 px 0;
}
.product-desc { 
    color : #555
    font -size :16 px ;
margin : 10 px 0;
padding : 5px ;
}
/*price*/
.product-price{
    color : #e74c3c;
    font-size : 22px ;
    font - weight : bold ;
    margin : 15 px ;
}
/* buttons */
.btn{ 
    background-color : #3498db ;
    color: white ;
    border: none ;
    padding : 12 px 20 px ;
    margin : 5px ;
    font-size : 16 px ;
    cursor : pointer ;
    border-radius : 5px ;

}
.btn:hover {
    background-color : #27ae60;
}
.buy:hover {
    background-color : #1e8449;

}
